

$border-radius: 0.5rem;
$group-border-radius: 0.75rem;
// $border-radius: (8px);
$btn-border-radius: 0.1875rem;
// // Breakpoints
$mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;
